@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider Theme="MyTheme" IsDarkMode="false" />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<MudLayout>
    <MudDrawer @bind-Open="drawerOpen" Elevation="1" Width="240px">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Supply Chain</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
            
            <MudNavGroup Title="Safety Stock" Icon="@Icons.Material.Filled.Inventory" Expanded="true">
                <MudNavLink Href="/safety-stock">Overview</MudNavLink>
                <MudNavLink Href="/safety-stock/update">Safety Stock update</MudNavLink>
                <MudNavLink Href="/safety-stock/suggested">Suggested vs Actual</MudNavLink>
                <MudNavLink Href="/safetystockform">Safety Stock from form</MudNavLink>
                <MudNavLink Href="/safety-stock/simulation">Simulation</MudNavLink>
                <MudNavLink Href="/safety-stock/history">Historical Variation</MudNavLink>
            </MudNavGroup>
            
            <MudNavLink Href="/inventory-alerts" Icon="@Icons.Material.Filled.NotificationImportant">Inventory Alerts</MudNavLink>
            <MudNavLink Href="/aftermarket-collection">Aftermarket Collection</MudNavLink>
            <MudNavGroup Title="Premium Bookings" Icon="@Icons.Material.Filled.Book" Expanded="true">
                <MudNavLink Href="/premium-bookings">Overview</MudNavLink>
                <MudNavLink Href="/premium-booking-update">Premium Booking Update</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/speedup">Speed Up</MudNavLink>
            <MudNavLink Href="/forecast-digital-twin">Forecast & Digital Twin</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudAppBar>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
            @*<MudText Typo="Typo.h6">Part Tracker</MudText>*@
        </MudAppBar>
        <div class="page">
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private bool drawerOpen = true;

    private MudTheme MyTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#00008B"  // Dark blue
        }
    };

    private void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }
}
