.form-check-input[b-06u5yezwk3] {
    width: 5rem !important;
    height: 1.3rem !important;
    cursor: pointer;
}

.form-check-input:checked[b-06u5yezwk3] {
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: 0 0 5px 2px rgba(40, 167, 69, 0.6);
}

.form-check-input:focus[b-06u5yezwk3] {
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.form-check-input[b-06u5yezwk3]::before {
    width: 1.3rem;
    height: 1.3rem;
    top: 1.1rem;
    left: 1.1rem;
    transition: transform 0.3s ease;
}

.form-check-input:checked[b-06u5yezwk3]::before {
    transform: translateX(1.5rem);
}

#archivedCheckbox:checked[b-06u5yezwk3] {
    background-color: #fd7e14;
    border-color: #fd7e14;
    box-shadow: 0 0 5px 2px rgba(253, 126, 20, 0.6);
}
